.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: #6A4F92;
}

h1 {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 70px;
    color: #200C5C;
}
img {
    filter: drop-shadow(0 0 0.5rem #290D7E);
    height: 35%;
    width: 35%;
    margin: 10px 10px 10px 10px;
    -webkit-transition: margin .3s ease-in;
    -moz-transition: margin .3s ease-in;
    -o-transition: margin .3s ease-in;
}

img:hover {
    cursor:pointer;
    margin-top: 2px;
    transform: scale(1.02);
}